In [ ]:
#general
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

#visual
import matplotlib.pyplot as plt
import seaborn as sns

#machine learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score , classification_report, f1_score, precision_score, recall_score,mean_absolute_error
from statsmodels.stats.outliers_influence import variance_inflation_factor
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

**cargamos los dataset**

In [ ]:
from os import path
path = '/content/credit-cards.csv'
application_record= pd.read_csv(path)
application_record.head()

,ID,Genero,Auto_propio,Casa_propia,Cantidad_hijos,Ingreso_anual,Tipo_de_trabajador,Educacion,Estado_familia,Tipo_de_casa,Celular_propio,Telefono_trabajo,Telefono_propio,Email_propio,Tipo_de_ocupacion,Cantidad_miembros_familia,Fecha_nacimiento,Anios,Anios_trabajados
0,5008804,M,1,1,0,427500,Working,Higher education,Civil marriage,Rented apartment,1,1,0,0,NaN,2,1991-02-18,33,12
1,5008805,M,1,1,0,427500,Working,Higher education,Civil marriage,Rented apartment,1,1,0,0,NaN,2,1991-02-18,33,12
2,5008806,M,1,1,0,112500,Working,Secondary / secondary special,Married,House / apartment,1,0,0,0,Security staff,2,1965-03-17,59,3
3,5008808,F,0,1,0,270000,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,Sales staff,1,1971-09-06,52,8
4,5008809,F,0,1,0,270000,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,Sales staff,1,1971-09-06,52,8

In [ ]:
from os import path
path = '/content/credit_record.csv'
credit_record= pd.read_csv(path)
credit_record.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

**unimos los dataset**

In [ ]:
df= pd.merge(application_record, credit_record, on='ID')
df.head()

,ID,Genero,Auto_propio,Casa_propia,Cantidad_hijos,Ingreso_anual,Tipo_de_trabajador,Educacion,Estado_familia,Tipo_de_casa,...,Telefono_trabajo,Telefono_propio,Email_propio,Tipo_de_ocupacion,Cantidad_miembros_familia,Fecha_nacimiento,Anios,Anios_trabajados,MONTHS_BALANCE,STATUS
0,5008804,M,1,1,0,427500,Working,Higher education,Civil marriage,Rented apartment,...,1,0,0,NaN,2,1991-02-18,33,12,0,C
1,5008804,M,1,1,0,427500,Working,Higher education,Civil marriage,Rented apartment,...,1,0,0,NaN,2,1991-02-18,33,12,-1,C
2,5008804,M,1,1,0,427500,Working,Higher education,Civil marriage,Rented apartment,...,1,0,0,NaN,2,1991-02-18,33,12,-2,C
3,5008804,M,1,1,0,427500,Working,Higher education,Civil marriage,Rented apartment,...,1,0,0,NaN,2,1991-02-18,33,12,-3,C
4,5008804,M,1,1,0,427500,Working,Higher education,Civil marriage,Rented apartment,...,1,0,0,NaN,2,1991-02-18,33,12,-4,C

**limpiamos el dataset de columnas repetidas y datos faltantes**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649323 entries, 0 to 649322
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         649323 non-null  int64
 1   Genero                     649323 non-null  object
 2   Auto_propio                649323 non-null  int64
 3   Casa_propia                649323 non-null  int64
 4   Cantidad_hijos             649323 non-null  int64
 5   Ingreso_anual              649323 non-null  int64
 6   Tipo_de_trabajador         649323 non-null  object
 7   Educacion                  649323 non-null  object
 8   Estado_familia             649323 non-null  object
 9   Tipo_de_casa               649323 non-null  object
 10  Celular_propio             649323 non-null  int64
 11  Telefono_trabajo           649323 non-null  int64
 12  Telefono_propio            649323 non-null  int64
 13  Email_propio               649323 non-null  int64
 14  Tipo_de_ocupacion          537335 non-null  object
 15  Cantidad_miembros_familia  649323 non-null  int64
 16  Fecha_nacimiento           649323 non-null  object
 17  Anios                      649323 non-null  int64
 18  Anios_trabajados           649323 non-null  int64
 19  MONTHS_BALANCE             649323 non-null  int64
 20  STATUS                     649323 non-null  object
dtypes: int64(13), object(8)
memory usage: 104.0+ MB

In [ ]:
df.isnull().sum()

ID                                0
Genero                            0
Auto_propio                       0
Casa_propia                       0
Cantidad_hijos                    0
Ingreso_anual                     0
Tipo_de_trabajador                0
Educacion                         0
Estado_familia                    0
Tipo_de_casa                      0
Celular_propio                    0
Telefono_trabajo                  0
Telefono_propio                   0
Email_propio                      0
Tipo_de_ocupacion            111988
Cantidad_miembros_familia         0
Fecha_nacimiento                  0
Anios                             0
Anios_trabajados                  0
MONTHS_BALANCE                    0
STATUS                            0
dtype: int64

In [ ]:
df.dropna(inplace=True)

-eliminamos los registros que tengan datos faltantes

In [ ]:
df.head()

,ID,Genero,Auto_propio,Casa_propia,Cantidad_hijos,Ingreso_anual,Tipo_de_trabajador,Educacion,Estado_familia,Tipo_de_casa,...,Telefono_trabajo,Telefono_propio,Email_propio,Tipo_de_ocupacion,Cantidad_miembros_familia,Fecha_nacimiento,Anios,Anios_trabajados,MONTHS_BALANCE,STATUS
31,5008806,M,1,1,0,112500,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,Security staff,2,1965-03-17,59,3,0,C
32,5008806,M,1,1,0,112500,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,Security staff,2,1965-03-17,59,3,-1,C
33,5008806,M,1,1,0,112500,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,Security staff,2,1965-03-17,59,3,-2,C
34,5008806,M,1,1,0,112500,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,Security staff,2,1965-03-17,59,3,-3,C
35,5008806,M,1,1,0,112500,Working,Secondary / secondary special,Married,House / apartment,...,0,0,0,Security staff,2,1965-03-17,59,3,-4,C

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 537335 entries, 31 to 649322
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         537335 non-null  int64
 1   Genero                     537335 non-null  object
 2   Auto_propio                537335 non-null  int64
 3   Casa_propia                537335 non-null  int64
 4   Cantidad_hijos             537335 non-null  int64
 5   Ingreso_anual              537335 non-null  int64
 6   Tipo_de_trabajador         537335 non-null  object
 7   Educacion                  537335 non-null  object
 8   Estado_familia             537335 non-null  object
 9   Tipo_de_casa               537335 non-null  object
 10  Celular_propio             537335 non-null  int64
 11  Telefono_trabajo           537335 non-null  int64
 12  Telefono_propio            537335 non-null  int64
 13  Email_propio               537335 non-null  int64
 14  Tipo_de_ocupacion          537335 non-null  object
 15  Cantidad_miembros_familia  537335 non-null  int64
 16  Fecha_nacimiento           537335 non-null  object
 17  Anios                      537335 non-null  int64
 18  Anios_trabajados           537335 non-null  int64
 19  MONTHS_BALANCE             537335 non-null  int64
 20  STATUS                     537335 non-null  object
dtypes: int64(13), object(8)
memory usage: 90.2+ MB

In [ ]:
df['STATUS'].unique()

array(['C', 'X', '0', '1', '5', '4', '3', '2'], dtype=object)

**no hay duplicados ya que comparten el id pero MONTHS_BALANCE va cambiando por lo cual no se puede decir que sean duplicados**

**ENCODE**

In [ ]:
df['Tipo_de_trabajador'].unique()

array(['Working', 'Commercial associate', 'State servant', 'Student'],
      dtype=object)

In [ ]:
col = ['Genero','Tipo_de_trabajador','Tipo_de_ocupacion','Educacion', 'Estado_familia', 'Tipo_de_casa','Fecha_nacimiento', 'STATUS']

le = LabelEncoder()

for i in col:
    df[i] =le.fit_transform(df[i] )

In [ ]:
df['STATUS'].unique()

array([6, 7, 0, 1, 5, 4, 3, 2])

In [ ]:
df.tail(20)

,ID,Genero,Auto_propio,Casa_propia,Cantidad_hijos,Ingreso_anual,Tipo_de_trabajador,Educacion,Estado_familia,Tipo_de_casa,...,Telefono_trabajo,Telefono_propio,Email_propio,Tipo_de_ocupacion,Cantidad_miembros_familia,Fecha_nacimiento,Anios,Anios_trabajados,MONTHS_BALANCE,STATUS
649303,5150049,0,0,1,0,283500,3,4,1,1,...,0,0,0,14,2,1194,49,2,-4,0
649304,5150049,0,0,1,0,283500,3,4,1,1,...,0,0,0,14,2,1194,49,2,-5,0
649305,5150049,0,0,1,0,283500,3,4,1,1,...,0,0,0,14,2,1194,49,2,-6,0
649306,5150049,0,0,1,0,283500,3,4,1,1,...,0,0,0,14,2,1194,49,2,-7,0
649307,5150049,0,0,1,0,283500,3,4,1,1,...,0,0,0,14,2,1194,49,2,-8,0
649308,5150049,0,0,1,0,283500,3,4,1,1,...,0,0,0,14,2,1194,49,2,-9,0
649309,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,0,0
649310,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-1,0
649311,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-2,0
649312,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-3,0
649313,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-4,0
649314,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-5,0
649315,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-6,0
649316,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-7,0
649317,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-8,0
649318,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-9,0
649319,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-10,2
649320,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-11,1
649321,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-12,0
649322,5150337,1,0,1,0,112500,3,4,3,4,...,0,0,0,8,1,4985,25,3,-13,0

In [ ]:
#correlation_matrix = df.corr()
#plt.figure(figsize=(20, 16))
#sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
#plt.show()

**VIF**

In [ ]:
# eliminamos la columna 'status' de col
col = df.drop(['STATUS'], axis=1) #asumimos que col son nuestras variables independientes con las que vamos a entrenar el modelo

# Calcular el factor de inflaciÃ³n de la varianza

# Crear un dataframe para almacenar la VIF
factor  = pd.DataFrame(columns=["VIF", "Variables"] )
# por cada columna, calcular el VIF
factor["Variables"] = col.columns
factor["VIF"] = [variance_inflation_factor(col.values, i) for i in range(col.shape[1])]

# Mostrar el resultado
factor

             VIF                  Variables
0       1.021970                         ID
1       1.218958                     Genero
2       1.191487                Auto_propio
3       1.098695                Casa_propia
4      19.813978             Cantidad_hijos
5       1.173231              Ingreso_anual
6       1.049501         Tipo_de_trabajador
7       1.135040                  Educacion
8       4.765906             Estado_familia
9       1.065860               Tipo_de_casa
10  18191.890255             Celular_propio
11      1.246312           Telefono_trabajo
12      1.175073            Telefono_propio
13      1.029580               Email_propio
14      1.016648          Tipo_de_ocupacion
15     25.828297  Cantidad_miembros_familia
16     80.407831           Fecha_nacimiento
17     80.284914                      Anios
18      1.137106           Anios_trabajados
19      1.004338             MONTHS_BALANCE

La multicolinealidad ocurre cuando dos o mÃ¡s variables predictivas en el modelo estÃ¡n altamente correlacionadas.

El factor de inflaciÃ³n de varianza (VIF) es 1,0 para todas las columnas excepto niÃ±os, estado_familiar y mÃ³vil, que estÃ¡n altamente correlacionadas entre sÃ­.

AdemÃ¡s, las columnas Cantidad_hijos,Celular_propio,Cantidad_miembros_familia,Fecha_nacimiento y Anios estÃ¡n altamente correlacionadas entre sÃ­.
Por lo tanto, debemos eliminar las columnas Children, Family_status y Mobile de nuestra lista de variables independientes para obtener los mejores resultados de Random Forest Classifier.

In [ ]:
X = df.drop(['STATUS', 'Cantidad_hijos' , 'Cantidad_miembros_familia', 'Celular_propio','Fecha_nacimiento','ID'], axis = 1) # usamos a X para entrenar nuestro modelo
y = df['STATUS']

In [ ]:
X.head()

,Genero,Auto_propio,Casa_propia,Ingreso_anual,Tipo_de_trabajador,Educacion,Estado_familia,Tipo_de_casa,Telefono_trabajo,Telefono_propio,Email_propio,Tipo_de_ocupacion,Anios,Anios_trabajados,MONTHS_BALANCE
31,1,1,1,112500,3,4,1,1,0,0,0,16,59,3,0
32,1,1,1,112500,3,4,1,1,0,0,0,16,59,3,-1
33,1,1,1,112500,3,4,1,1,0,0,0,16,59,3,-2
34,1,1,1,112500,3,4,1,1,0,0,0,16,59,3,-3
35,1,1,1,112500,3,4,1,1,0,0,0,16,59,3,-4

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

*RandomForest*

In [ ]:
model = RandomForestClassifier(random_state=30)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=30)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
predictions =model.predict(X_test)
print("error absoluto medio: " + str(mean_absolute_error(predictions, y_test)))

error absoluto medio: 1.960666995449766

**Controlamos el modelo con un registro ya existente**

In [ ]:
Registro_index_31=[1,1,1,112500,3,4,1,1,0,0,0,16,59,3,0]

In [ ]:
registro_unico_array = np.array(Registro_index_31).reshape(1, -1)

In [ ]:
registro_unico_prediccion = model.predict(registro_unico_array)
print(f'-----  PredicciÃ³n: {registro_unico_prediccion[0]}  --------')

-----  PredicciÃ³n: 6  --------

In [ ]:
X.loc[31]

Genero                     1
Auto_propio                1
Casa_propia                1
Ingreso_anual         112500
Tipo_de_trabajador         3
Educacion                  4
Estado_familia             1
Tipo_de_casa               1
Telefono_trabajo           0
Telefono_propio            0
Email_propio               0
Tipo_de_ocupacion         16
Anios                     59
Anios_trabajados           3
MONTHS_BALANCE             0
Name: 31, dtype: int64

In [ ]:
df.loc[31]

ID                           5008806
Genero                             1
Auto_propio                        1
Casa_propia                        1
Cantidad_hijos                     0
Ingreso_anual                 112500
Tipo_de_trabajador                 3
Educacion                          4
Estado_familia                     1
Tipo_de_casa                       1
Celular_propio                     1
Telefono_trabajo                   0
Telefono_propio                    0
Email_propio                       0
Tipo_de_ocupacion                 16
Cantidad_miembros_familia          2
Fecha_nacimiento                 197
Anios                             59
Anios_trabajados                   3
MONTHS_BALANCE                     0
STATUS                             6
Name: 31, dtype: int64

**Nuevos Registros**

**Juan**

In [ ]:
Registro_Juan=[1,0,1,405000,0,1,1,1,0,0,0,10,32,6,-46]

In [ ]:
registro_unico_array = np.array(Registro_Juan).reshape(1, -1)

In [ ]:
registro_unico_prediccion = model.predict(registro_unico_array)
print(f'-----  PredicciÃ³n: {registro_unico_prediccion[0]}  --------')

-----  PredicciÃ³n: 0  --------

**Belen**

In [ ]:
Registro_Belen=[0,0,1,112500,3,1,0,1,0,0,1,8,28,9,-11]

In [ ]:
registro_unico_array = np.array(Registro_Belen).reshape(1, -1)

In [ ]:
registro_unico_prediccions = model.predict(registro_unico_array)
print(f'-----  PredicciÃ³n: {registro_unico_prediccion[0]}  --------')

-----  PredicciÃ³n: 0  --------

0: 1-29 dÃ­as de atraso /////
1: 30-59 dÃ­as de atraso /////
2: 60-89 dÃ­as de atraso /////
3: 90-119 dÃ­as de atraso /////
4: 120-149 dÃ­as de atraso /////
5: Deudas vencidas o incobrables, castigos por mÃ¡s de 150 dÃ­as /////
6: pagado ese mes /////
7: No hay prÃ©stamo para el mes /////